extends ../layout 

block content
  table 
    thead 
      tr 
        th EMAIL 
        th PASSWORD
        th FULLNAME
        th PHONE 
        th IMAGE
    tbody   
      if customers != ""
        each user in customers 
          tr 
            td= user.email
            td= user.password 
            td= user.fullname
            td= user.phone 
            td= user.image 
      else 
        tr 
          td(colspan="4") NO DATA

